<section>

    <div data-bind="if: newFolderFormVisible">
        <div class="jumbotron">
            <div class="container">
                <h2 class="page-title">Create New Folder</h2>
                <form data-bind="submit: addFolder" role="form">
                    <div>
                        <!-- New folder name -->
                        <div class="form-group">
                            <label for="input-folder-name">Name:</label>
                            <input id="input-folder-name" class="form-control" autofocus="autofocus"
                                data-bind="value: newFolder.name" placeholder="Folder name (required)" />
                        </div>
                        <!-- New folder description -->
                        <div class="form-group">
                            <label for="input-folder-desc">Description:</label>
                            <textarea id="input-folder-desc" class="form-control" rows="5"
                                data-bind="value: newFolder.description" placeholder="Folder description (optional)" />
                        </div>

                        <!-- TODO: New folder permissions panel -->

                        <!-- Create folder button -->
                        <a class="btn btn-primary" data-bind="click: createFolder">
                            <i class="icon-cloud-upload"></i> Create Folder</a>
                        <!-- Cancel new folder button -->
                        <a class="btn btn-danger" data-bind="click: hideNewFolderForm">
                            <i class="icon-trash"></i> Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container">

        <!-- TODO: Live search for folders 
            <input class="pull-right" type="search" placeholder="Live search..." autofocus />
            -->

        <div class="pull-right page-title" data-bind="if: !newFolderFormVisible()">
            <a class="btn btn-default pull-right" data-bind="click: showNewFolderForm">
                <i class="icon-plus"></i> New folder</a>
        </div>
        <h1 class="page-title" data-bind="text: displayName"></h1>

        <div data-bind="foreach:folders">
            <article class="folder-list-item">
                <h2><i class="icon-folder-open-alt"></i> <a data-bind="attr: { href: url }, text:name" title="Open folder"></a></h2>
                <p data-bind="text:description"></p>
                <p class="section-control"><em>Expires <span data-bind="text:relativeExpirationDate" /></em></p>
            </article>
        </div>
    </div>

</section>
