<div data-bind="ifnot: folders().length">
    <div class="jumbotron">
        <div class="container">
            <h1>Oops!</h1>
            <p>Folder doesn't exist, has expired, or you don't have permission to access it.</p>
        </div>
    </div>
</div>

<section data-bind="foreach: folders">

    <div data-bind="if: $parent.editFolderDetailsFormVisible">
        <div class="jumbotron">
            <div class="container">
                <h1 class="page-title">Edit Folder Details</h1>
                <!-- TODO: add an updateFolderDetails method to the Folder prototype -->
                <form id="edit-folder-details-form" data-bind="submit: $parent.updateFolderDetails" role="form">
                    <div>
                        <!-- Folder name -->
                        <div class="form-group">
                            <label for="input-folder-name">Name:</label>
                            <input id="input-folder-name" class="form-control" autofocus="autofocus"
                                data-bind="value: name" placeholder="Folder name (required)" />
                        </div>
                        <!-- Folder description -->
                        <div class="form-group">
                            <label for="input-folder-desc">Description:</label>
                            <textarea id="input-folder-desc" class="form-control" rows="5"
                                data-bind="value: description" placeholder="Folder description (optional)" />
                        </div>

                        <!-- TODO: New folder permissions panel -->

                        <!-- Create folder button -->
                        <a class="btn btn-primary" data-bind="click: $parent.updateFolderDetails">
                            <i class="icon-cloud-upload"></i> Update</a>
                        <!-- Cancel new folder button -->
                        <a class="btn btn-danger" data-bind="click: $parent.cancelEditFolderDetails">
                            <i class="icon-trash"></i> Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div data-bind="if: $parent.newItemFormVisible">
        <div class="jumbotron">
            <div class="container">
                <h1 class="page-title">Add New Item in <span data-bind="text: name" /></h1>
                <form id="add-item-form" data-bind="attr: { action: newItemUrl }" enctype="multipart/form-data" method="post">
                    <p>
                        Note:<br />
                        <textarea data-bind="value: newItemNote" style="width:100%" rows="2" cols="80" wrap="soft" placeholder="Enter a note" name="note" /><br />
                    </p>
                    <p>
                        File: <input type="file" name="file" /><br />
                    </p>
                    <a class="btn btn-primary" data-bind="click: $parent.postItem"><i class="icon-cloud-upload"></i> Submit</a>
                    <a class="btn btn-danger" data-bind="click: $parent.cancelCreateItem"><i class="icon-trash"></i> Cancel</a>
                </form>
            </div>
        </div>
    </div>

    <div class="container">

        <div data-bind="if: !$parent.editFolderDetailsFormVisible()">
            <div class="pull-right page-title" data-bind="if: !$parent.newItemFormVisible()">
                <a class="btn btn-default" data-bind="click: $parent.editFolderDetails"
                    title="Change folder name or description"><i class="icon-edit"></i> Edit</a>
                <a class="btn btn-danger" data-bind="click: $parent.expireFolder"
                    title="PERMANENTLY DELETE all items in this folder, mark the folder as expired, and remove it from the list of active folders.">
                    <i class="icon-trash"></i> Expire</a>
            </div>
            <h1 class="page-title"><i class="icon-folder-open-alt"></i> <span data-bind="text: name" /></h1>
            <p class="section-control"><i class="icon-time"></i> <em>Expires <span data-bind="text: relativeExpirationDate" /></em></p>
            <p data-bind="text: description"></p>
            <hr />
        </div>


        <!--<h3>Items</h3>-->

        <div class="pull-right" data-bind="if: !$parent.newItemFormVisible() && !$parent.editFolderDetailsFormVisible()">
            <a class="btn btn-default pull-right" data-bind="click: $parent.showNewItemForm">
                <i class="icon-plus"></i> New item</a>
        </div>

        <div data-bind="ifnot: items().length">
            <p>(This folder is empty)<br />&nbsp;</p>
        </div>

        <div data-bind="foreach:items">
            <div class="folder-list-item">
                <!-- ko if: ("Note" == type()) -->
                <p><i class="icon-comment-alt icon-2x pull-left"></i> <span data-bind="text:note" /></p>
                <p class="section-control">
                    <em>
                        Created <span data-bind="text:relativeCreatedDate" />
                        by <span data-bind="text:createdBy().displayName" />
                    </em>
                </p>
                <!-- /ko -->

                <!-- ko if: ("File" == type()) -->
                <p><i class="icon-file-alt icon-2x pull-left"></i> <a data-bind="attr: {href: url}, text: id" /></p>
                <p><span data-bind="text: note" /></p>
                <p class="section-control">
                    <em>
                        Created <span data-bind="text: relativeCreatedDate" />
                        by <span data-bind="text: createdBy().displayName" />
                    </em>
                </p>
                <!-- /ko -->

                <!-- ko if: ("Image" == type()) -->
                <p><i class="icon-picture icon-2x pull-left"></i> <!--<img class="item-image" data-bind="attr: { src: url }" /> --></p>
                <p><span data-bind="text: note" /></p>
                <p class="section-control">
                    <em>
                        Created <span data-bind="text: relativeCreatedDate" />
                        by <span data-bind="text: createdBy().displayName" />
                    </em>
                </p>
                <!-- /ko -->
            </div>
        </div>

        <hr />

        <h2>Permissions</h2>
        <!--<p class="section-control">
            <a class="btn" data-bind="click:managePermissions"><i class="icon-cog"></i> Manage permissions</a>
        </p>-->
        <div data-bind="foreach:permissions">
            <p>
                <i class="icon-user"></i> <span data-bind="text:user().displayName" /> (<span data-bind="text:accessDescription" />)
            </p>
        </div>


        <h2>Logs</h2>
        <div data-bind="foreach:logs">
            <p class="folder-list-item" data-bind="text:message"></p>
        </div>

    </div>

</section>
