<section>
    <div class="container">
        <h2 class="page-title" data-bind="text: displayName"></h2>
        
        <h3>What is FSIX?</h3>
        <p>FSIX&mdash;Frictionless Secure Information eXchange&mdash;does blah, blah, blah.</p>

        <h3>Other Stuff...</h3>

        <h3>Keyboard Shortcuts</h3>
        <p>FSIX is designed to be fast, but learn a few of these keyboard shortcuts and we're talkin' seriously fast!</p>
        <dl>
            <dt>H</dt><dd>Go to home screen/inbox</dd>
            <dt>F</dt><dd>Go to Folders list</dd>
            <dt>?</dt><dd>Show this help screen</dd>
        </dl>

    </div>
</section>