<section>
    <div class="container">
        <h1 class="page-title" data-bind="text: displayName"></h1>
        
        <h2>What is FSIX?</h2>
        <p>FSIX&mdash;Frictionless Secure Information eXchange&mdash;does blah, blah, blah.</p>

        <h2>Other Stuff...</h2>

        <h2>Keyboard Shortcuts</h2>
        <p>FSIX is designed to be fast, but learn a few of these keyboard shortcuts and we're talkin' seriously fast!</p>
        <dl>
            <dt>H</dt><dd>Go to home screen/inbox</dd>
            <dt>F</dt><dd>Go to Folders list</dd>
            <dt>?</dt><dd>Show this help screen</dd>
        </dl>

    </div>
</section>