<nav class="navbar">
    <a class="brand" href="/">
        <span class="title">FSIX - Frictionless Secure Information eXchange</span> 
    </a>

    <div class="btn-group">
        <a class="btn btn-info" data-ng-href="#/folders/" title="Shared folders"><i class="icon-folder-open"></i></a>
        <a class="btn btn-info" data-ng-href="#/new/" title="New folder"><i class="icon-plus"></i></a>
        <a class="btn btn-info" data-ng-href="#/help/" title="Help"><i class="icon-question-sign"></i></a>
        <a class="btn btn-info" data-ng-href="#/admin/" title="Admin"><i class="icon-cog"></i></a>
    </div>

    <!--
    <div class="btn-group" data-bind="foreach: router.visibleRoutes">
        <a data-bind="css: { active: isActive }, attr: { href: hash }, text: name" 
            class="btn btn-info" href="#"></a>
    </div>
    <div class="loader pull-right" data-bind="css: { active: router.isNavigating }">
        <div class="progress progress-striped active page-progress-bar">
            <div class="bar" style="width: 100px;"></div>
        </div>
    </div>
    -->

</nav>
