@using System.Web
@using System.Web.Optimization
<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="fsix">
<head>
    <title>FSIX - Frictionless Secure Information eXchange</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @Styles.Render("~/Content/css")
    <!--[if lte IE 8]>
        <script src="~/Scripts/html5shiv.js"></script>
    <![endif]-->
    <script type="text/javascript">
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>
</head>
<body>
    <header ng-include="'App/views/nav.html'"></header>

    <section id="content" class="main container-fluid">
        <div id="applicationHost" ng-view>
            @Html.Partial("_splash")
        </div>
    </section>

    <footer ng-include="'App/views/footer.html'"></footer>

    @Scripts.Render("~/scripts/vendor")
    @Scripts.Render("~/scripts/app")
</body>
</html>
